<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LOGIN</title>
</head>
<body>
<h1>로그인</h1>
<form th:action="@{/member/login}" method="post">
    <div>
        <label for="email"></label>
        <input type="text" id="email" name="email" placeholder="이메일"/>
    </div>
    <div>
        <label for="password"></label>
        <input type="password" id="password" name="password" placeholder="비밀번호"/>
    </div>
    <br>

    <div>
        <button type="submit">로그인</button>
    </div>
    <br>

    <div th:if="${param.error}">
        잘못된 이메일 또는 비밀번호입니다.
    </div>
</form>
</body>
</html>
