<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h1>로그인</h1>
<form method="post" action="/login">
    <label for="email">이메일</label>
    <input type="text" id="email" name="email" required>
    <br>
    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">로그인</button>
</form>

<!-- OAuth2 로그인 링크 -->
<a href="/oauth2/authorization/google">Google</a>
<a href="/oauth2/authorization/naver">Naver</a>
</body>
</html>
https://nid.naver.com/oauth2.0/authorize?
response_type=code
&state=i5w9vK7a89I_w3_kK9C0JnrJ5nWHxO6auoCySrzGXeQ%3D
&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Flogin%2Foauth2%2Fcode%2Fnaver
&client_id=fZIspGPoOHi2jX81fTYU
&oauth_os
&inapp_view&locale=ko_KR
&oauth_token=379JFg7ioGQCxyJ494